/* Utility section*/
*{
    margin:0;
    padding:0;
}

.flex-box{
    display:flex;
    height: 100%;
    width: 100%
}

:root{
    --primary-color: rgba(59,68,75);
    --secondary-color: rgb(52, 144, 231);
    --text-color: white;

}
/* this fixes the scroll issue*/
body{
    overflow-y:scroll;
    overflow-x:hidden;
}

/*End of Utility Section*/

/* Navigation Bar*/

.nav-bar{
    padding: 20px;
    background-color:rgb(59,68,75);
    color: var(--text-color);
    font-family: sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    display:inline-flex;
    width: 100%;
}

.nav-bar h1{
    display:inline-block;
    margin-left: 45px;
    font-size: 50px ;
}


/* pulls all content for the nav bar to the right*/
.nav-bar nav{ 
    margin: 7px; 
    display: flex;
    width: 100%;
    flex-direction:row;
    justify-content: flex-end;
    margin-right: 200px;
}

.nav-bar a{
    color: var(--text-color)

}


.nav-bar ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-bar nav ul li a{
    font-size:25px;
    font-weight: lighter;
    padding: 10px 15px;
    text-decoration: none;
    }   

.nav-bar nav ul li a:hover{
    background-color: var(--secondary-color);
    border-radius: 15px;
}


/* End of Navigation Bar*/

/* Banner*/

.banner-img{
    background-image: url("../images/Banner-1.JPG");
    width: 100%;
    min-height: 315px;
    background-size: cover;
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.banner-img p{
    color: var(--text-color);
    font-size: 56px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

/* End of Banner section*/

/*About me Section*/

.left-border{ /* controls the the border*/
    height: 200px;
    width: 25%;
    border-right: solid thick var(--primary-color);
    margin-top: 50px;
}   

.left-border p { /* controls the box the about me section sits in*/
    display: flex;
    /*removed width 100%*/
    flex-direction: row;
    justify-content: flex-end;
    color: var(--primary-color);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 40px;
    margin-right: 25px;

}

.border-content{  /*moves the about away from the border line*/
    margin-right: 25px;
}

.about-me-text{
    width: 90%;
    margin: 50px 100px 50px 100px;
    color: var(--primary-color);
    font-size: 21px;
}


/*gid work section*/

.work{
    width: 22.3%;
    height: 600px;
}


.grid{
    margin: 50px 100px 50px 100px;
    display: grid;
    height: 600px;
    width: 80%;
    grid-template-columns: 1fr repeat(2, 1fr)  ;
    grid-template-rows: 1fr repeat(2, 1fr);
    gap: 25px;
}

.grid  div a{
    display: hidden;
}


.place-holder{
    background-color: var(--secondary-color);
    height:100px;
    width: 100px;
    border: solid black;
    
}

.surf-report{
background-color: rgb(2, 70, 133);
grid-column: 1 /span 2;
grid-row: 1/ span 2;
align-items: flex-end;
}


.surf-report p, .led-wall p, .calculator p, .pastel-puzzles p, .run-buddy p{ /* this is to govern the place-holders until I get links*/
    text-decoration: none;
    background-color: var(--secondary-color); 
    color: var(--text-color);
    margin: 10px 10px 10px 10px;
    padding: 20px;
    font-size: 18px;
}

.led-wall{
    background-color: rgb(2, 70, 133);
    grid-column: 3/ span 1;
    grid-row: 1/ span 1;
    align-items: flex-end;

}.calculator{
    background-color: rgb(2, 70, 133);
    grid-column: 3 / span 1;
    grid-row: 2/ span 1;
    align-items: flex-end;

}

.pastel-puzzles{
    background-color: rgb(2, 70, 133);
    grid-column: 1/span 1;                
    grid-row: 3/ span ;
    align-items: flex-end;

}

.run-buddy{
    background-image: url("../images/run-buddy.jpg");
    background-size:cover;
    border: solid black;
    grid-column: 2/ span 1;
    grid-row: 2/ span 1;
    align-items: flex-end;
}

.run-buddy h4{
    text-decoration: none;
    background-color: var(--secondary-color); 
    color: var(--text-color);
    margin: 10px 10px 10px 10px;
    padding: 20px;
    font-size: 18px;
}

.run-buddy:hover{
    background-color: linear-gradient(grey white);
    opacity: .7;}

.run-buddy h4:hover{
    animation: turn 4s infinite;
        animation-timing-function: linear;}


    @keyframes turn{
          
        100% {transform:rotatex(360deg) } }


/* End of  Grid section

/* footer*/

.contact-me{
    display: inline-block;
    font-size: 40px;
    font-family: sans-serif;
    width: 16.8%;
    margin-left: 46px;
}


.contact-info{
    display:inline-flex;

}

.flex-footer {
    display:flex;
    justify-content:space-evenly;

}

.flex-footer > div{
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px

}



/*.contact-info ul{
    margin-left: 200px;
    display:flex;
    justify-content: space-evenly;
}

.contact-info ul li {
    display: inline-flex;
    justify-content: space-evenly;
    font-size: 18px; /*
}